@import "../../index.scss";

.action {
  @include appTheme($themes) {
    border: 1px solid themed("borderColor");
    -webkit-box-shadow: themed("boxShadowLow");
    -moz-box-shadow: themed("boxShadowLow");
    box-shadow: themed("boxShadowLow");
    padding: 20px;
    border-radius: 8px;
    color: themed("textColor");
    ;
    .action-header {
      display: flex;
      align-items: center;
      gap: 10px;
      .profile-picture {
        width: 40px;
        height: 40px;
        border-radius: 8px;
        object-fit: cover;
      }

      .author-name {
        font-weight: bold;
        font-size: 1rem;
      }

      .timestamp {
        color: #888;
        font-size: 14px;
      }
    }
    .action-title {
      margin-top: 10px;
    }

    .action-content {
      margin-top: 5px;
    }
    .info {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        cursor: pointer;
        font-size: 14px;
      }
    }
  }
}
