@import "../../index.scss";

.register {
  height: 100vh;
  background-color: rgb(205, 205, 205);
  display: flex;
  align-items: center;
  justify-content: center;
  @include mobile {
    display: contents;
  }
  .card {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    @include mobile {
      flex-direction: column;
      border-radius: 0px;
    }
    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(96, 22, 11, 0.5)),
        url("https://images.pexels.com/photos/708440/pexels-photo-708440.jpeg?auto=compress&cs=tinysrgb&w=1600")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 5rem;
        line-height: 5rem;
        margin-bottom: 20px;
        @include mobile {
          font-size: 2rem;
          line-height: 2rem;
        }
      }

      p {
        font-size: 1.2rem;
        line-height: 30px;
        margin-bottom: 30px;
        @include mobile {
          display: none;
        }
      }

      span {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .login-btn {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rgb(101, 61, 174);
        font-weight: bold;
        cursor: pointer;
        border-radius: 4px;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: #555;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
          font-size: 18px;
          color: #555;
        }

        .register-btn {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: rgb(164, 117, 253);
          color: white;
          font-weight: bold;
          cursor: pointer;
          border-radius: 4px;
        }
      }

      .forgot-password {
        text-align: center;
        font-size: 14px;
      }

      .forgot-password a {
        color: #555;
        text-decoration: none;
        transition: color 0.3s ease;
      }

      .forgot-password a:hover {
        color: #ef938e;
      }
    }
  }
}
