@import "../../index.scss";

.home {
  @include appTheme($themes) {
    color: themed("textColor");
    padding: 20px 40px;
  }
  @include mobile {
    padding: 10px;
  }

  @include tablet {
    padding: 20px;
  }
}
