@import "../../index.scss";
.navbar {
  @include appTheme($themes) {
    color: themed("textColor");
    padding: 8px 20px;
    border-bottom: 1px solid themed("borderColor");
    position: sticky;
    top: 0;
    background-color: themed("backgroundColor");
    z-index: 999;
    @include tablet {
      justify-content: space-around;
    }
    .left {
      display: flex;
      align-items: center;
      img {
        height: 35px;
      }
    }
    .center {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;
      @include tablet {
        flex-direction: row-reverse;
        order: 3;
      }
      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("borderColor");
        border-radius: 5px;
        padding: 5px;

        input {
          border: none;
          width: 500px;
          height: 25px;
          background-color: transparent;
          outline: none;
          color: themed(textColor);
          font-size: 1rem;
          @include tablet {
            width: 100%;
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;
      @include tablet {
        padding-top: 0.5rem;
        order: 2;
      }
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
