@import "../../index.scss";

.rightBar {
  @include appTheme($themes) {
    flex: 3;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("backgroundColor");

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 20px;

      .item {
        -webkit-box-shadow: themed("box-shadow");
        -moz-box-shadow: themed("box-shadow");
        box-shadow: themed("box-shadow");
        padding: 20px;
        margin-bottom: 20px;
        background-color: themed("backgroundColor");

        span {
          color: gray;
        }

        .user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 20px 0px;
          .userInfo {
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;

            img {
              width: 40px;
              height: 40px;
              border-radius: 20%;
              object-fit: cover;
            }

            p {
              color: themed("textColorSoft");
              width: 80%;
            }

            span {
              font-weight: 500;
              display: flex;
              color: themed("textColor");
            }
          }
          .activityTime {
            font-size: 12px;
            color: #8a8a8a;
          }
        }
      }
    }
  }
}
